include *.txt *.ini *.cfg *.rst
include supervisord.conf
include pyrone-blog-nginx.conf
include supervisord-pyrone
recursive-include pyrone *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
