/* pyrone-theme-css */
/* pyrone-theme-data:title-en: Style of blog.regolit.com site*/
/* pyrone-theme-data:title-ru: Стиль для сайта blog.regolit.com*/
/*
 * Author: Sergey Stolyarov <sergei@regolit.com>
 */

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic);


body {
	margin: 0;
	padding: 0;
}
body, div, table {
	font-family: "PT Serif", "Times New Roman", serif;
}
a {
	color: #000080;
	text-decoration: underline;
}
a:hover {
	color: #0040ff;
	text-decoration: underline;
}
div.clear-both {
	clear: both;
}
div#topbar, div#topbar-admin {
	position: absolute;
	width: 100%;
	margin: 0;
	height: 60px;
}
div#topbar div.title, div#topbar div.title a,
div#topbar-admin div.title, div#topbar-admin div.title a {
	color: #a11113;
	font-family: "PT Serif", "Times New Roman", serif;
	font-size: 30px;
	font-weight: bolder;
	margin: 10px;
	text-decoration: none;
}
div#topbar-admin div.title {
	color: #a17170;
}
div#content {
	padding: 0 15px 5px 15px;
	margin: 0 270px 30px 10px;
}
div#topbar-admin div.version {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 10px;
	font-family: "PT Sans", Verdana, Tahoma, sans-serif;
	font-size: 10pt;
}

div#contentbar {
	position: absolute;
	margin-top: 60px;
	margin-right:280px;
	width: 100%;
}

div#sidebar {
	border-width: 0 0 3px 3px;
	position: absolute;
	width: 255px;
	background-color: #fff;
	right: 0;
	top: 50px;
	padding: 0 5px 10px 10px;
}
div#sidebar div.section {
	font-weight: bolder;
	margin: 10px 0 5px 0;
	padding-top: 5px;
}

a.confirm-icon {
	border: 1px solid #d2dd5e;
	border-radius: 4px;
	background-color: #f1d200;
	color: black;
	text-decoration: none;
	padding: 0 2px 0 0;
	margin: 0 3px 0 0;
}
span.notify-icon {
	border: 1px solid green;
	background-color: green;
	color: #fff;
	text-decoration: none;
}
a.new-window {
	text-decoration: none;
	border: 2px #0000ff;
	border-style: none none solid none;
}
.account-twitter {
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(/static/styles/default/images/twitter-icon.png);
	padding-left: 17px;
}
.account-admin {
	font-weight: bold;
	color: #060;
}
div#content div.article code, div#eid-article-render-preview p code {
}
div#content div.article pre,
div#content div.preview pre,
div#eid-article-render-preview pre {
    padding: 4px;
    background-color: #F7F4E7;
    border: 1px solid #AAA189;
    border-radius: 5px;
}
div#content div.article blockquote,
div#content div.preview blockquote,
div#eid-article-render-preview blockquote {
	border: solid #000080;
	background-color: #E9EAF7;
	border-width: 0 0 0 3px;
	padding-left: 4pt;
}
div#bottombar {
	padding: 0 0 4px 0;
	position: absolute;
	bottom: 0;
}
div#bottombar div.title{
	margin: 4px 0 0 20px;
	font-size: 10pt;
	color: #7f7f7f;
}
div#bottombar a {
	color: #7f7f7f;
}

/* articles styles */
div.article-preview {
	padding: 10px;
	margin: 10px;
}
div.article-preview-after {
	height: 1px;
	border-style: solid none solid none;
	border-color: #f6f6ee;
	border-width: 1px;
	height: 5px;
	margin: 0 -5px 0 -5px;
}
div.article-preview div.title a {
    text-decoration: none;
}
div.article-preview div.title {
	padding: 5px 5px 5px 0;
	font-size: 17pt;
	font-weight: bolder;
	position: relative;
}
div.article-preview div.tags {
    font-size: 10pt;
    font-weight: bold;
	color: #040;
	margin: 10px 0 0 0;
}
div.article-preview div.splitter {
	margin: 10px 0 10px 0;
}
div.article-preview div.before-preview {
}
div.article-preview div.after-preview {
}
div.article-preview div.tags a {
	color: #040;
}
div.article-preview div.footer {
	color: #989898;
}
div.article-preview div.date {
	color: #989898;
}
div.pager {
	font-size: 17pt;
	font-weight: bolder;
	color: #7f7f7f;
}

div.tags-cloud {
}

a.tag-0 { font-size: 9px; color: #aaf;}
a.tag-5 { font-size: 10px; color: #aaf;}
a.tag-10 { font-size: 11px; color: #99f;}
a.tag-15 { font-size: 13px; color: #99f;}
a.tag-20 { font-size: 14px; color: #88f;}
a.tag-25 { font-size: 16px; color: #88f;}
a.tag-30 { font-size: 17px; color: #77f;}
a.tag-35 { font-size: 19px; color: #77f;}
a.tag-40 { font-size: 20px; color: #66f;}
a.tag-45 { font-size: 22px; color: #66f;}
a.tag-50 { font-size: 23px; color: #55f;}
a.tag-55 { font-size: 25px; color: #55f;}
a.tag-60 { font-size: 26px; color: #44f;}
a.tag-65 { font-size: 28px; color: #44f;}
a.tag-70 { font-size: 29px; color: #33f;}
a.tag-75 { font-size: 31px; color: #33f;}
a.tag-80 { font-size: 32px; color: #22f;}
a.tag-85 { font-size: 34px; color: #22f;}
a.tag-90 { font-size: 35px; color: #11f;}
a.tag-95 { font-size: 37px; color: #11f;}
a.tag-100 { font-size: 38px; color: #00f;}

/* article styles */
div.article div.title {
	padding: 5px 5px 5px 0;
	font-size: 17pt;
	font-weight: bolder;
	position: relative;
}
div.article div.subtitle {
}
div.article div.subtitle div.date {
	font-weight: bolder;
	float: left;
}
div.article div.subtitle div.social {
	float: right;
}
div.markup-preview {
	border: 1px solid #7f7f7f;
	padding: 5px;
}
div.article div.tags {
}
form#comment-form {
	background-color: #e5e5e5;
	padding: 0 5px 5px 5px;
}
div.article-inline-comment-edit textarea.body {
	width: 100%;
	height: 100px;
}
div.article-inline-comment-edit input[type=text] {
	border: 1px solid #A2A2A2;
}
div.article-inline-comment-edit input.display-name {
	width: 150px;
}
div.article-inline-comment-edit input.ip {
	width: 100px;
}
div.article-inline-comment-edit input.date {
	width: 150px;
	}
div.inline-form {
	border: 2px solid green;
	border-radius: 4px;
	padding: 5px;
}
/* comment styles */
div.article-comment {
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	padding: 10px;
	margin: 4px 0 4px 0;
}
div.article-comment div.title {
	color: #989898;
}
div.article-comment div.title .name {
	font-weight: bolder;
}
div.article-comment div.body {
	margin: 10px 0 10px 0;
}

div.article-comments div.not-approved {
	border: 1px solid red;
}
div.article-comments div.active {
	border: 1px solid #00f;
}
span.comment-ip-address {
	font-style: italic;
}
div.comments-moderation-queue div.comment {
	border: 1px solid #a0a0a0;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 5px 0 5px 5px;
}


input[type=text], input[type=password] {
	border: 1px solid #A2A2A2;
}
dl.form dt {
	margin: 10px 0 2px 0;
}
dl.form dd {
	margin: 4px 0 2px 30pt;
}
dl.form div.error {
	background-color: #ffd3d3;
	border: 1px solid red;
	border-radius: 3px;
	padding: 5px;
}
dl.form input.error, dl.form textarea.error {
	background-color: #ffd3d3;
}
dl.form input[type=text], dl.form input[type=password]{
	width: 95%;
}
dl.form textarea {
	width: 95%;
	height: 400px;
	border: 1px solid #A2A2A2;
}
dl.form textarea.small {
	width: 95%;
	height: 100px;
}

table.items-list {
	margin: 10px 0 10px 0;
	border: 1px solid #a52a2a;
	x-width: 100%;
}
table.items-list th {
	background-color: #d2d2d2;
	padding: 2px 10px 2px 10px;
}
table.items-list td {
	padding: 2px 5px 2px 5px;
}
span.hint, div.hint {
	color: #4d4d4d;
}
div.notify {
	border: 2px solid #009c00;
	border-radius: 4px;
	padding: 10px;
	background-color: #dbffdb;
	color: #000;
	font-weight: bold;
}
div.warning {
	color: #a52a2a;
	border: 2px solid #a52a2a;
	border-radius: 4px;
	padding: 10px;
	background-color: #fff9bf;
	color: #000;
	font-weight: bold;
}
span.warning {
	color: white;
	border: 1px solid #a52a2a;
	border-radius: 3px;
	background-color: #a52a2a;
	padding: 0 2px 0 2px;
}
span.info {
	color: #005400;
	border: 1px solid #005400;
	border-radius: 3px;
	padding: 0 2px 0 2px;
	cursor: default;
}
.hidden {
	display: none !important;
}
.strong {
	font-weight: bold;
}
.em-green {
	border: 1px solid green;
	background-color: #D2FAEA;
}

/* actions widget */
div#sidebar div.widget div {
    font-family: "PT Sans", Verdana, Tahoma, sans-serif;
}
div#sidebar div.widget-actions {
}
div#sidebar div.widget-actions div.action-item {
    margin-bottom: 1px;
    background-color: #f6f6f6;
    padding-left: 3px;
    border: 3px white;
    border-style: none none none dotted;
}


div#settings-save-block {
	position: relative;
	clear: both;
	height: 20px;
}
div#settings-save-button-block {
	position: absolute;
	top: 0px;
	left: 15px;
	right: 280px;
	padding: 1px 0 8px 0;
}
div#settings-save-button-block div {
	float: left;
	margin-right: 10px;
}
div#settings-save-button-block div.notify
{
	padding: 0px 10px 0 10px;
	background-color: #dbffdb;
	color: #000;
	font-weight: bold;
}
div.save-box-panel-top {
	position: absolute;
	top: 0;
}

div.save-box-panel-float .save-button {
	margin-left: 20px;
}

div.save-box-panel-float {
	margin-left: -10px;
	border-radius: 4px;
	background-color: gray;
	position: fixed !important;
	top: 0;
}

div.editor-text-controls {
	margin: 4pt 0 0 30pt;
	padding: 2pt;
}

div.editor-text-controls span.button {
	border: 1px solid gray;
	border-radius: 4px;
	margin-right: 4pt;
	background-color: #F6FFEE;
	padding: 0 2px 0 2pt;
	cursor: pointer;
}

/* google custom search styles */
input.gsc-input[type="text"] {
	border-radius: 4px;
	border: 1px solid #a9a9a9;
}

td.files-content-type {
	max-width: 140px;
	overflow: hidden;
}

acronym[title] {
	border-style: none none dashed none;
	border-color: gray;
	border-width: 1px;
}

.article-actions {
	position: absolute;
	top: 10px;
	right: 0;
}
.article-actions .border-icon {
	font-size: 22px;
}

textarea, input[type="text"] {
	border: 1px solid #9d9da2;
	border-radius: 3px;
	font-size: 13px;
}
textarea {
	font-size: 14px;
	font-family: monospace;
}
button.button {
	font-size: 14px;
}
/* pygments styles */
.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */